<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufcb.gdufapi.Mapper.organizationMapper">

    <insert id="insertOrganization" parameterType="com.gdufcb.gdufapi.Pojo.organization">
        insert into user_organization (userName,phone,organizationName,adress,studentCard,useWay) values (#{userName},#{phone},#{organizationName},#{adress},#{studentId},#{useWay})
    </insert>

    <select id="ifOrganization" resultType="String">
        select studentCard from user_organization where organizationName = #{organizationName}
    </select>

    <select id="find" resultType="com.gdufcb.gdufapi.Pojo.organization">
        select * from user_organization where organizationName like CONCAT('%',#{organization},'%')
    </select>

    <select id="findMyOrganization" resultType="com.gdufcb.gdufapi.Pojo.organization">
        select * from user_organization where  studentCard = #{studentId}
    </select>

    <select id="ifexist"  resultType="String">
        select id from user_join where organization = #{organization} and studentId = #{studentId}
    </select>

    <insert id="joinOrganization" parameterType="com.gdufcb.gdufapi.Pojo.JoinOrganization">
        insert into user_join (organization,studentId,username) values(#{organization},#{studentId},#{username})
    </insert>

    <select id="findAllUser" resultType="com.gdufcb.gdufapi.Pojo.JoinOrganization">
        select * from user_join where organization = #{organizationName}
    </select>


</mapper>